@use '../../utils/mixins' as *;

.add-to-favorite-btn {
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 15px;
  @include transition;
  @include btn-primary;
}

.add-to-favorite-btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.give-rating-btn {
  padding: 12px 24px;
  border-radius: 15px;
  font-size: 14px;
  @include transition;
  @include btn-secondary;
}
