.recipe-info-rating-number {
  font-size: 14px;
  line-height: 129%;
  color: var(--text-secondary);
}

.recipe-info__rating-wrapper {
}

.rating-list__item.modal-rating-item {
  flex: 0 0 24px;
  padding: 2px;
  height: 24px;
  // width: 24px;
}
