@use '../utils/mixins' as *;

.container.favorites-container {
  padding-right: 1px;
}

.fav-btn {
  user-select: none;
  flex-shrink: 0;
  color: var(--text-secondary-light);
  border: var(--input-border);
  border-radius: 15px;
  padding: 14px 18px;
  &:active {
    background-color: var(--active-color);
  }

  @include transition;
}

@media (hover: hover) and (pointer: fine) {
  .fav-btn:hover {
    color: var(--text-btn-primary);
    background-color: var(--hover-color-light);
  }
  .fav-btn:hover:active {
    background-color: var(--active-color);
  }
}

.fav-btn.checked {
  background-color: var(--hover-color);
  color: var(--text-btn-primary);
}

.fav-categories-btn-wrapper {
  overflow-y: auto;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  &.grabbing {
    scroll-behavior: auto;
  }

  &.grabbing .fav-btn {
    cursor: grabbing;
    pointer-events: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
