// @use '../utils/variables';
@use '../utils/mixins' as *;

.header-nav {
  @include flex-center;
}

.nav-list {
  display: flex;
  gap: 16px;
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding-top: 20px;
}

.header-logo {
  // display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  color: inherit;

  span {
    color: var(--text-accent);
  }
}

.header-btn-block {
  display: flex;
  gap: 14px;
  align-items: center;
  //   margin-left: auto;
}

.shopping-cart-btn {
  width: 24px;
  height: 24px;
  //   background-color: inherit;
}

.shopping-icon,
.mobile-menu-icon {
  fill: transparent;
  stroke: var(--text-primary);
}

.theme-switcher-btn {
  display: none;
}
.js-theme-switcher {
}
.input-switcher {
}
.mobile-menu-btn {
  width: 32px;
  height: 32px;
}
.mobile-menu-icon {
}
