@use '../utils/mixins' as *;

.modal {
  position: fixed;
  inset: 0;

  z-index: 10000;
  overflow: hidden;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  @include flex-center;
}

.modal-overlay {
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-wrapper {
  position: relative;
  z-index: 2;

  padding: 28px 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  background-color: var(--modal-bg);

  transform: scale(1);
  max-height: 98dvh;
  overflow: auto;
  padding: 40px;
  @include transition;
  @include media(md) {
  }

  .modal.is-hidden & {
    transform: scale(0);
  }
}

body.dark-theme .modal-wrapper {
  box-shadow: 0 8px 40px rgba(155, 181, 55, 0.25);
}

.modal.is-hidden .modal-close-btn {
  display: none;
}

.modal-wrapper::-webkit-scrollbar {
  display: none;
}
