@use '../utils/mixins' as *;

.splash-screen {
  position: fixed;
  inset: 0;
  background-color: var(--splash-bg);
  z-index: 2000;

  @include flex-center;
  @include transition;
}

.splash-logo {
  font-size: 60px;
  color: var(--splash-text-color);
}
