@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin btn-primary {
  @include flex-center;
  color: var(--text-btn-primary);
  background-color: #9bb537;

  // &:hover {
  //   color: var(--text-primary);
  // }
  &:active {
    background-color: #7f9e2c;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #050505;
    }
  }
}

@mixin btn-secondary {
  @include flex-center;

  color: var(--text-primary);
  border: 1px solid #9bb537;

  &:hover {
    color: #f8f8f8;
    background-color: #9bb537;
  }
  &:active {
    background-color: #7f9e2c;
  }
}

@mixin pagination-btn($backgroundColor) {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: var(--text-primary);
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  @include flex-center;
  @if $backgroundColor == black {
    background-color: #050505;
  } @else if $backgroundColor == green {
    background-color: var(--btn-primary-bg);
  } @else if $backgroundColor == transparent {
    background-color: transparent;
    outline: 1px solid var(--pagination-btn-outline);
  }

  @include media(md) {
    width: 44px;
    height: 44px;
  }
}

@mixin media($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

@mixin transition($properties: all, $time: 0.3s, $ease: ease-out) {
  transition: $properties $time $ease;
}
