@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin btn-primary {
  @include flex-center;
  color: var(--text-btn-primary);
  background-color: var(--btn-primary-bg);

  &:active {
    background-color: var(--active-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #050505;
    }
  }
}

@mixin btn-secondary {
  @include flex-center;

  color: var(--text-primary);
  border: 1px solid #9bb537;

  &:active {
    background-color: var(--active-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #f8f8f8;
      background-color: var(--hover-color);
    }
    &:hover:active {
      background-color: var(--active-color);
    }
  }
}

@mixin pagination-btn($backgroundColor) {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  color: var(--text-primary);
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  // outline: 1px solid var(--pagination-btn-outline);
  @include transition;
  @include flex-center;
  @if $backgroundColor == black {
    background-color: #050505;
    outline: 1px solid transparent;
  } @else if $backgroundColor == green {
    background-color: var(--btn-primary-bg);
    outline: 1px solid var(--btn-primary-bg);
  } @else if $backgroundColor == transparent {
    background-color: transparent;
    outline: 1px solid var(--pagination-btn-outline);
  }

  @include media(md) {
    width: 44px;
    height: 44px;
  }
}

@mixin media($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

@mixin transition($properties: all, $time: 0.3s, $ease: ease-out) {
  transition: $properties $time $ease;
}

@mixin responsive-bg($name, $ext: 'jpg') {
  // Mobile
  background-image: url('../img/favorite-hero/#{$name}-sm@1x.#{$ext}');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/favorite-hero/#{$name}-sm@2x.#{$ext}');
  }

  // Tablet
  @media (min-width: 768px) {
    background-image: url('../img/favorite-hero/#{$name}-md@1x.#{$ext}');

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/favorite-hero/#{$name}-md@2x.#{$ext}');
    }
  }

  // Desktop
  @media (min-width: 1280px) {
    background-image: url('../img/favorite-hero/#{$name}-lg@1x.#{$ext}');

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/favorite-hero/#{$name}-lg@2x.#{$ext}');
    }
  }
}
