:root {
  --text-primary: #050505;

  --text-secondary: rgba(5, 5, 5, 0.5);
  --text-secondary-light: rgba(5, 5, 5, 0.3);
  --text-accent: #9bb537;
  --text-btn-primary: #f8f8f8;

  --hover-color: #9bb537;
  --active-color: #7f9e2c;

  --bg-primary: #f8f8f8;

  --mobile-menu-bg: #9bb537;
  --mobile-menu-text: #f8f8f8;
  --mobile-menu-current: #fff;

  --modal-bg: #fff;

  --input-border: 1px solid rgba(5, 5, 5, 0.2);

  --btn-primary-bg: #9bb537;

  --slide-card-bg: #050505;
  --slide-card-text-primary: rgba(248, 248, 248, 0.6);
  --slide-card-text-location: rgba(248, 248, 248, 0.2);
}
