:root {
  --text-primary: #050505;
  --text-secondary: rgba(5, 5, 5, 0.5);

  --popular-description-text-color: rgba(5, 5, 5, 0.8);
  --text-secondary-light: rgba(5, 5, 5, 0.3);
  --text-secondary-light-hover: rgba(5, 5, 5, 0.5);
  --text-accent: #9bb537;
  --text-btn-primary: #f8f8f8;

  --text-recipe-card-title: #f8f8f8;
  --text-recipe-card-text: #f8f8f8;

  --hover-color: #9bb537;
  --hover-color-light: rgba(155, 181, 55, 0.5);
  --active-color: #7f9e2c;

  --bg-primary: #f8f8f8;

  --mobile-menu-bg: #9bb537;
  --mobile-menu-text: #f8f8f8;
  --mobile-menu-current: #fff;

  --modal-bg: #fff;

  --input-border: 1px solid rgba(5, 5, 5, 0.2);

  --btn-primary-bg: #9bb537;

  --slide-card-bg: #050505;
  --slide-card-text-primary: rgba(248, 248, 248, 0.6);
  --slide-card-text-location: rgba(248, 248, 248, 0.2);

  --all-categories-scrollbar-color: rgba(5, 5, 5, 0.18);

  --ingredient-underline-color: rgba(5, 5, 5, 0.1);

  --tag-border: 1px solid rgba(5, 5, 5, 0.2);

  // --star-icon-base-color: rgba(5, 5, 5, 0.3);
  // --star-icon-base-color: rgba(255, 255, 255, 0.4);

  --star-icon-base-color: rgba(128, 128, 128, 0.5);
  --star-icon-highlighted-color: #eea10c;
  --star-icon-highlighted-color-light: rgba(238, 161, 12, 0.3);

  --pagination-btn-outline: rgba(5, 5, 5, 0.3);
  --pagination-btn-left-icon-color: rgba(248, 248, 248, 0.5);
  --up-to-top-icon-color: rgba(0, 0, 0, 0.5);

  --dropdown-background-color: #fff;

  --splash-bg: #161616;
  --splash-text-color: #fff;
}
