@use '../../utils/mixins' as *;

.rating-form {
  // min-width: 10%;
  width: 295px;
  //   @include flex-column;

  @include media(md) {
    width: 360px;
  }
}

.rating__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  //   color: #050505;
}

.recipe-info__rating-number {
  font-size: 16px;
  //   line-height: 150%;
}

.rating-list__item.modal-rating-item {
  cursor: pointer;
}

.rating-list__item.modal-rating-item.highlighted .rating-list__star-icon {
  fill: var(--star-icon-highlighted-color);
  @include transition;
}

.rating-list__item.modal-rating-item.is-animate .rating-list__star-icon {
  animation: animate-star 1s ease-out 0s 1;
}

.rating__input {
  width: 100%;
  padding: 18px 14px;
  border: var(--input-border);
  border-radius: 15px;

  &::placeholder {
    line-height: 125%;
    color: var(--text-secondary);
  }
}

.rating-send-btn {
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  @include btn-primary;
  @include transition;
}

@keyframes animate-star {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.7) rotate(360deg);
  }
}
