@use '../../utils/mixins' as *;

.all-categories__list-wrapper {
  height: 198px;

  .simplebar-track.simplebar-vertical {
    width: 8px;
    background: transparent;
  }

  .simplebar-scrollbar {
    background-color: var(--all-categories-scrollbar-color);
    min-height: 116px;
    border-radius: 12px;
    &::before {
      display: none;
    }
  }

  @include media(md) {
    width: 176px;
    height: 416px;

    .simplebar-scrollbar {
      min-height: 201px;
    }
  }

  @include media(lg) {
    width: 235px;
    height: 416px;
  }
}

.all-categories__list {
  font-size: 14px;
  line-height: 129%;
  color: var(--text-secondary-light);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;

  @include media(md) {
    gap: 24px;
    font-size: 16px;
    line-height: 125%;
  }
}

// .all-categories__item {
// }

.all-categories__item-btn {
  cursor: pointer;
  transition: all 0.15s linear;
}

.all-categories__item.current {
  color: #9bb537;
}

@media (hover: hover) and (pointer: fine) {
  .all-categories__item-btn:hover {
    transform: scale(1.03);
    color: var(--text-secondary-light-hover);
  }
}
