@use '../../utils/mixins' as *;

.all-categories__button {
  padding: 14px 28px;
  color: var(--text-secondary);
  font-size: 18px;

  border-radius: 15px;
  border: var(--input-border);

  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--text-btn-primary);
      background-color: var(--btn-primary-bg);
      border-color: var(--btn-primary-bg);
    }
  }

  &:active {
    transform: scale(0.98);
    color: var(--text-btn-primary);
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
  }
}
