@use '../utils/mixins' as *;

html {
  scrollbar-gutter: stable;
  font-family: 'Inter', sans-serif;
  font-weight: 500;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: auto;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  will-change: scroll-position;
  @include transition;
}

body.gscrollbar-fixer {
  margin-right: 0 !important;
}

.current {
  color: var(--text-accent);
}

.mobile-menu-current {
  color: var(--mobile-menu-current);
  font-weight: 600;
}

.no-scroll {
  overflow: hidden;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--hover-color);

  outline-offset: 2px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
