// @use '../utils/variables';
@use '../utils/mixins' as *;

* {
  font-family: inherit;
  // outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);

  @include transition;
}

.current {
  color: var(--text-accent);
}

.mobile-menu-current {
  color: var(--mobile-menu-current);
  font-weight: 600;
}

.no-scroll {
  overflow: hidden;
}
