@use '../../utils/mixins' as *;

.theme-switcher {
  display: inline-block;
  cursor: pointer;

  @include transition;
}

.theme-switcher__slider {
  position: relative;
  display: block;
  width: 46px;
  height: 20px;
  background: #cecdcd;
  box-shadow: 7px 5px 15px 0 rgba(160, 158, 160, 0.6);
  border-radius: 60px;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  // @include transition;
}

.theme-switcher__slider::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #f8f8f8;

  @include transition;
}

.theme-switcher__input:checked + .theme-switcher__slider {
  background: #9bb537;
}

.theme-switcher__input:checked + .theme-switcher__slider::before {
  left: calc(100% - 1px);
  transform: translate(-100%);
}
.theme-switcher__input:checked + .theme-switcher__slider {
  box-shadow: 7px 5px 15px 0 rgba(22, 22, 22, 0.6);
}

.theme-switcher__slider:active::before {
  width: 25px;
}

.theme-switcher__input:focus-visible + .theme-switcher__slider {
  outline: 2px solid #1976d2;
  outline-offset: 2px;
  border-radius: 50px; // если у тебя круглый слайдер
}

// .mobile-menu {
//   position: relative;
// }

.theme-switcher {
  @include media(sm) {
    position: absolute;
    bottom: 20px;
    // right: calc(65% - 46px - 20px);
    right: calc(-100%);
    z-index: 1;

    header.menu-opened & {
      right: calc(65% - 46px - 20px);
    }
  }
}
