@use '../../utils/mixins' as *;

.hero-title {
  max-width: 335px;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  text-transform: uppercase;

  @include media(md) {
    width: 446px;
    font-size: 36px;
  }
}

.hero-title-accent {
  font-style: italic;
  font-weight: 400;
  color: var(--text-accent);
}
