@use '../../utils/mixins' as *;

.order-btn {
  @include btn-secondary;

  width: 111px;
  height: 37px;
  border-radius: 12px;
  font-size: 14px;

  @include media(md) {
    width: 127px;
    height: 45px;
    border-radius: 15px;
  }
}
