@use '../utils/mixins' as *;

.all-categories__list-wrapper {
  margin-top: 24px;

  @include media(md) {
    margin-top: 30px;
  }

  @include media(lg) {
    margin-top: 42px;
  }
}

.all-categories {
  @include media(md) {
    grid-area: categories;
  }
}
