@use '../utils/mixins' as *;

.hero-section {
  margin-top: 84px;

  overflow-x: hidden;
  @include media(md) {
    margin-top: 89px;
  }

  @include media(lg) {
    display: grid;
    grid-template-columns: 446px 1fr;
    gap: 32px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    margin-top: 146px;
  }
}

.hero-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include media(md) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include media(lg) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 64px;
    width: auto;
  }
}

.hero-text {
  margin-top: 14px;

  @include media(md) {
    margin-top: 16px;
  }
}

.order-btn {
  margin-top: 28px;

  @include media(md) {
    margin-top: 32px;
  }
}

.sw-container.swiper-container {
  padding-left: 20px;
  padding-right: 0;
  margin-top: 48px;

  @include media(md) {
    padding-left: 32px;
    margin-top: 70px;
  }
  @include media(lg) {
    padding: 0;
    margin: 0;
  }
}
