@use '../utils/mixins' as *;

.main-gallery {
  position: relative;
  margin-top: 14px;

  @include media(md) {
    grid-area: gallery;
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include media(md) {
    gap: 16px;
  }

  @include media(lg) {
    gap: 32px 16px;
  }
}

.main-gallery-container {
  margin-top: 20px;
  @include media(md) {
    margin-top: 14px;
    grid-template-columns: 1fr 1fr;
  }

  @include media(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery-item__text {
  margin-top: 8px;
}

.rating-and-btn-wrapper {
  margin-top: 16px;
}
.rating-and-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-wrapper {
  display: flex;
  gap: 4px;
}

.rating-list {
  display: flex;
}

.stars-list-wrapper {
  position: relative;
}

.rating-list.painted {
  position: absolute;
  inset: 0;
}
