@use '../utils/mixins' as *;
.recipe-info__rating-wrapper.modal-rating-wrapper {
  // gap: 8px;
  position: relative;
  margin-top: 4px;
}

.recipe-info__rating-number.modal-rating-number {
  position: absolute;
  top: 3px;
  left: 0;
  // transform: translateY(-50%);
}

.rating-list.modal-rating-list {
  margin-left: 32px;
}

.rating__input-wrapper {
  margin-top: 24px;

  @include media(md) {
    margin-top: 32px;
  }
}

.rating-send-btn {
  margin-top: 14px;

  @include media(md) {
    margin-top: 16px;
  }
}
