@use '../../utils/mixins' as *;

.header-logo {
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.04em;
  @include transition;

  span {
    color: var(--text-accent);

    @include transition;
  }

  &:hover {
    color: var(--text-accent);

    span {
      color: var(--text-primary);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .header-logo:hover {
    transform: scale(1.1);
  }
}
