@use '../../utils/mixins' as *;

.header-btn-block {
  display: flex;
  gap: 14px;
  align-items: center;
  //   margin-left: auto;
}

.shopping-cart-btn {
  width: 24px;
  height: 24px;
}

.mobile-menu-btn {
  width: 32px;
  height: 32px;

  @include media(md) {
    display: none;
  }
}

.theme-switcher-btn {
  display: none;

  @include media(md) {
    display: block;
  }
}

.shopping-icon,
.mobile-menu-icon {
  fill: transparent;
  stroke: var(--text-primary);

  &:hover {
    stroke: var(--hover-color);
  }

  @include transition;
}
