@use '../../utils/mixins' as *;

.header-nav {
  display: none;
  @include media(md) {
    display: block;
  }
}

.nav-list {
  display: flex;
  gap: 16px;
}

.nav-list-item {
  font-weight: 400;
  font-size: 12px;
  @include transition;

  &:hover {
    color: var(--hover-color);
  }
}

.nav-list-item.current {
  font-weight: 500;
  color: var(--text-accent);
}
