@use '../../utils/mixins' as *;

.header-logo {
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.04em;
  @include transition;

  // transition: all 0.3s ease-out;
  span {
    color: var(--text-accent);
    @include transition(all, 0.1s);

    // transition: all 0.1s;
  }

  &:hover {
    color: var(--text-accent);

    span {
      color: var(--text-primary);
    }
  }
}
