@use '../../utils/mixins' as *;

.popular-recipes__item {
  height: 67px;
  cursor: pointer;

  transition: opacity 0.8s ease;
}

@media (hover: hover) and (pointer: fine) {
  .popular-recipes__item:hover .popular-recipes__img {
    transform: scale(1.1);
  }

  .popular-recipes__list {
    &:has(.popular-recipes__item:hover) {
      .popular-recipes__item:not(:hover) {
        opacity: 0.4;
      }
    }
  }
}
