@use '../../utils/mixins' as *;

.filters-item__input + .filters-item__icon {
}

// .filters-item__icon {
//   position: absolute;
// }
.filters-item__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  fill: transparent;
  stroke: currentColor;
}

.filters-item__input-icon {
  left: 18px;
  fill: currentColor;

  @include transition;
}

.filters-item__select-icon {
  right: 18px;
}
