@use '../../utils/mixins' as *;

.filters-item__input::placeholder {
  color: currentColor;
  line-height: 129%;

  @include media(md) {
    line-height: 125%;
  }
}

.filters-item {
  display: block;
  position: relative;
  color: var(--text-secondary);
}

.filters-item__label {
  position: absolute;
  top: -20px;

  color: currentColor;
  font-size: 12px;
  line-height: 117%;

  @include media(md) {
    font-size: 14px;
    top: -22px;
    line-height: 129%;
  }
}

.filters-item__input {
  width: 100%;
  padding-left: 48px;
  padding-right: 14px;

  &::placeholder {
    color: var(--text-secondary);
  }
}

.filters-item__element {
  width: 100%;
  height: 46px;
  background-color: inherit;
  border: var(--input-border);
  border-radius: 15px;
  padding-top: 14px;
  padding-bottom: 14px;

  color: var(--text-secondary);
  line-height: 129%;

  @include media(md) {
    height: 48px;
    line-height: 125%;
  }
}

.filters-item__element.filters-item__input:focus-visible {
  outline: none;
  border-color: #b7b7b7;

  & + .filters-item__input-icon {
    fill: var(--text-accent);
    stroke: var(--text-accent);
  }
}

.label-search {
  grid-area: search;

  @include media(md) {
    width: 278px;
    grid-area: auto;
  }
}

.label-time {
  grid-area: time;

  @include media(md) {
    width: 125px;
    grid-area: auto;
  }
}

.label-area {
  grid-area: area;

  @include media(md) {
    width: 141px;
    grid-area: auto;
  }
}

.label-ingredients {
  grid-area: ingredients;
  max-width: 60%;

  @include media(md) {
    width: 188px;
    grid-area: auto;
  }
}

// --------------------------------
