@use '../../utils/mixins' as *;

.filters-item {
  @media (hover: hover) and (pointer: fine) {
    &:hover .choices {
      border-color: var(--text-secondary);
    }
  }
}

.choices {
  @media (hover: hover) and (pointer: fine) {
    &:hover:focus {
      border-color: var(--text-primary);
    }
  }
}

.filters-item__select {
  padding-left: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.choices {
  width: 100%;
  height: 46px;
  margin-bottom: 0;

  background-color: inherit;
  border: var(--input-border);
  border-radius: 15px;

  font-weight: 500;
  line-height: 129%;

  &.is-focused {
    border-color: var(--text-primary);
  }

  &::after {
    display: none;
  }

  @include transition;
  @include media(md) {
    height: 48px;
    line-height: 125%;
  }
}

.choices.is-open.is-flipped .choices__list--dropdown.is-active,
.choices.is-open .choices__list--dropdown.is-active {
  border-radius: 15px;
  border: none;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: var(--dropdown-background-color);
}

.choices__inner {
  height: 100%;
  padding-top: 14px;
  padding-left: 18px;
  background-color: inherit;
}

.choices.is-open .choices__inner {
  border-radius: 15px;
  height: 100%;
}
.choices__list {
  margin: 0;
  padding: 0;
}

.choices[data-type*='select-one'] .choices__inner {
  border: 1px solid var(--input-border-color);
}

.choices__item--choice {
  padding-left: 18px !important;
  color: var(--text-secondary-light);

  &.is-highlighted {
    background-color: transparent !important;
    color: var(--text-secondary);
    transform: scale(1.05);
  }

  &.is-selected {
    color: var(--text-primary);
  }

  @include transition;
}

.choices__list--dropdown.is-active[aria-expanded] {
  z-index: 10;
}
.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow-x: hidden;
  z-index: 10;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  .simplebar-track.simplebar-vertical {
    width: 8px;
    background: transparent;
  }

  .simplebar-scrollbar {
    background-color: var(--all-categories-scrollbar-color);
    border-radius: 12px;

    &::before {
      display: none;
    }
  }
}
