<section class="all-categories">
  <button class="all-categories__button">All categories</button>
  <div class="all-categories__list-wrapper">
    <ul class="all-categories__list"></ul>
  </div>

  <div class="loader js-loader" aria-label="Loading..." role="status">
    <div class="sk-circle">
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
    </div>
  </div>
</section>
