<div class="container footer__content">
  <a class="header-logo js-header-logo" href="./index.html"
    ><span>tasty</span>treats.</a
  >

  <p class="footer__author">
    © 2025 Serhii Sokolovskyi. Portfolio project built with JavaScript & SCSS.
  </p>
  <ul class="footer__socials">
    <!-- иконки -->
    <li>
      <a
        href="https://github.com/DevMasterX/Tasty-treats"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
        ><svg class="icon">
          <use href="#icon-github"></use></svg
      ></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/serhii-sokolovskyi-883420225/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <svg class="icon">
          <use href="#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="mailto:s.sokolovskiy.pro@gmail.com"
        rel="noopener noreferrer"
        aria-label="Email"
        ><svg class="icon">
          <use href="#icon-email"></use></svg
      ></a>
    </li>

    <li>
      <a
        href="https://t.me/sokol080288"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Telegram"
      >
        <svg class="icon">
          <use href="#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
