<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-text-wrapper">
      <h1 class="hero-title">
        Learn to Cook <span class="hero-title-accent">Tasty Treats'</span>
        Customizable Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button
        class="hero-btn"
        aria-label="Order now button"
        data-modal-open
        data-modal-type="order"
      >
        Order Now
      </button>
    </div>

    <div class="swiper-wrapper"></div>
  </div>
</section>
