<section class="hero-section">
  <div class="hero-container">
    <div class="hero-text-wrapper">
      <h1
        class="hero-title"
        data-aos="fade-right"
        data-aos-offset="50"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Learn to Cook <span class="hero-title-accent">Tasty Treats'</span>
        Customizable Masterclass
      </h1>
      <p
        class="hero-text"
        data-aos="fade-right"
        data-aos-offset="50"
        data-aos-delay="350"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button
        class="order-btn"
        aria-label="Order now button"
        data-modal-open
        data-modal-type="order"
        data-aos="fade-left"
        data-aos-offset="50"
        data-aos-delay="450"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Order Now
      </button>
    </div>
  </div>
  <div
    class="sw-container swiper-container"
    data-aos="fade-left"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <div class="swiper">
      <div class="swiper-wrapper" id="wow"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!---------------- Loader --------------->

    <div class="loader js-loader" aria-label="Loading..." role="status">
      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>
    </div>
  </div>
</section>
