<section class="hero-section">
  <div class="hero-container">
    <div class="hero-text-wrapper">
      <h1
        class="hero-title"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        Learn to Cook <span class="hero-title-accent">Tasty Treats'</span>
        Customizable Masterclass
      </h1>
      <p
        class="hero-text"
        data-aos="fade-right"
        data-aos-delay="350"
        data-aos-duration="1000"
      >
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button
        class="order-btn"
        aria-label="Order now button"
        data-modal-open
        data-modal-type="order"
        data-aos="fade-left"
        data-aos-delay="450"
        data-aos-duration="1000"
      >
        Order Now
      </button>
    </div>
  </div>
  <div
    class="sw-container swiper-container"
    data-aos="fade-left"
    data-aos-delay="50"
    data-aos-duration="1000"
  >
    <div class="swiper">
      <div class="swiper-wrapper" id="wow">
        <div class="swiper-slide">
          <div class="swiper-slide__cook-img-container">
            <img src="./img/cook.webp" alt="Heston Chan" />
          </div>
          <div class="swiper-slide__main-img-container">
            <img src="./img/dish.webp" alt="barbecue" />

            <div class="swiper-title-wrapper">
              <h3 class="swiper-title" data-swiper-parallax-y="-150%">
                Grilled, smoky, delicious barbecue
              </h3>
              <p class="swiper-location-text" data-swiper-parallax-y="-600%">
                Spanish
              </p>
            </div>
          </div>
          <div class="swiper-slide__big-img-container">
            <img src="./img/dish-right.webp" alt="barbecue" />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!---------------- Loader --------------->

    <div class="loader js-loader" aria-label="Loading..." role="status">
      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>
    </div>
  </div>
</section>
