<section class="gallery main-gallery">
  <button class="reset-filter-btn">
    <svg class="reset-filter-btn__icon">
      <use href="#icon-x"></use>
      <span class="reset-filter-btn__text">Reset the filter</span>
    </svg>
  </button>

  <ul class="gallery-container main-gallery-container"></ul>

  <!------------------------- Loader ----------------->
  <div class="loader js-loader" aria-label="Loading..." role="status">
    <div class="sk-circle">
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
    </div>
  </div>

  <!-- <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div> -->

  <!-- <div class="sk-flow">
    <div class="sk-flow-dot"></div>
    <div class="sk-flow-dot"></div>
    <div class="sk-flow-dot"></div>
  </div> -->
</section>
