<div class="container">
  <div class="pagination main-pagination">
    <div class="pagination__left-btns-wrapper">
      <button class="pagination__btn left double" aria-label="First page">
        <svg class="pagination__btn-icon left-double-icon">
          <use href="#icon-left"></use>
        </svg>
        <svg class="pagination__btn-icon right-double-icon">
          <use href="#icon-left"></use>
        </svg>
      </button>
      <button class="pagination__btn left" aria-label="Previous page">
        <svg class="pagination__btn-icon">
          <use href="#icon-left"></use>
        </svg>
      </button>
    </div>

    <div class="pagination__center-btns-wrapper">
      <button class="pagination__btn active">1</button>
      <button class="pagination__btn transparent">2</button>
      <button class="pagination__btn third transparent">3</button>
      <button class="pagination__btn transparent" aria-label="Next pages">
        ...
      </button>
    </div>

    <div class="pagination__right-btns-wrapper">
      <button class="pagination__btn right" aria-label="Next page">
        <svg class="pagination__btn-icon">
          <use href="#icon-right"></use>
        </svg>
      </button>
      <button class="pagination__btn right double" aria-label="Last page">
        <svg class="pagination__btn-icon left-double-icon">
          <use href="#icon-right"></use>
        </svg>
        <svg class="pagination__btn-icon right-double-icon">
          <use href="#icon-right"></use>
        </svg>
      </button>
    </div>

    <!-- <button class="pagination__btn right" aria-label="Next page">
    <svg class="pagination__btn-icon">
      <use href="#icon-right"></use>
    </svg>
  </button>
  <button class="pagination__btn right double" aria-label="Last page">
    <svg class="pagination__btn-icon">
      <use href="#icon-right"></use>
    </svg>
    <svg class="pagination__btn-icon">
      <use href="#icon-right"></use>
    </svg>
  </button> -->
  </div>
</div>
