<section class="popular-recipes-section">
  <h2 class="popular-recipes__title">Popular recipes</h2>
  <ul class="popular-recipes__list"></ul>

  <!--------------------------- Loader ------------>

  <div class="loader js-loader" aria-label="Loading..." role="status">
    <div class="sk-circle">
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
      <div class="sk-circle-dot"></div>
    </div>
  </div>
</section>
