.dark-theme {
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --text-secondary-light: rgba(255, 255, 255, 0.3);
  --text-secondary-light-hover: rgba(255, 255, 255, 0.5);
  --popular-description-text-color: rgba(255, 255, 255, 0.8);

  --text-recipe-card-title: #fff;
  --text-recipe-card-text: rgba(255, 255, 255, 0.8);

  --bg-primary: #161616;
  --mobile-menu-bg: #050505;
  --mobile-menu-current: #9bb537;

  --modal-bg: #050505;

  --input-border: 1px solid rgba(255, 255, 255, 0.2);

  --slide-card-text-primary: rgba(255, 255, 255, 0.6);
  --slide-card-text-location: rgba(255, 255, 255, 0.2);

  --all-categories-scrollbar-color: rgba(255, 255, 255, 0.18);

  --ingredient-underline-color: rgba(255, 255, 255, 0.1);

  --tag-border: 1px solid rgba(255, 255, 255, 0.2);

  --star-icon-base-color: rgba(255, 255, 255, 0.3);
}
