.dark-theme {
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --text-secondary-light: rgba(255, 255, 255, 0.3);

  --bg-primary: #161616;
  --mobile-menu-bg: #050505;
  --mobile-menu-current: #9bb537;

  --modal-bg: #050505;

  --input-border: 1px solid rgba(255, 255, 255, 0.2);
}
